.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.progress-bar-container {
    position: relative;
    display: flex;
    box-sizing: content-box;
    justify-content: flex-end;
    width: 95%;
    height: 50px;
    border: 1px solid var(--primary-color);
}

.progress-bar {
    background-color: var(--primary-color);
    text-align: center;
    transition: width 1s ease-in-out;
}

.name {
    position: absolute;
    left: 5%;
}

.progress-status {
    position: absolute;
    right: 20%;
    color: #272727;
    text-shadow: 2px 2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), -2px -2px 0 var(--primary-color), 2px 0px 0 var(--primary-color), 0px 2px 0 var(--primary-color), -2px 0px 0 var(--primary-color), 0px -2px 0 var(--primary-color), -2px -2px 2px rgba(206,0,0,0);
}

.name, .progress-status {
    font-size: xx-large;
}

.lumon {
    position: absolute;
    right: 0;
    transform: scale(1.15);
}